.select {
        
    }
    
    select {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }
    ul{
        margin-top: 20px;
        padding: 0px;
        background: green;
        text-align: center;
        width: 81px;
        position: relative;
        z-index: 100;
        
    }
    li{
        list-style-type: none;
        line-height: 25px;
    }
    span {
        background: orange;
        width: 81px;
        height: 20px;
        display: block;
        text-align: center;
        color: black;
        position: absolute;
        top: 0px;
        z-index: 100;
    }